<!DOCTYPE html>
<html lang="<%- langClass %>">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= title %></title>
	<%- include('partials/head.html') -%>
</head>
<body>
    <%- include('partials/navigation.html') -%>
    <div class="container-fluid pt-5 px-3 pb-0">
        <div class="row text-center text-black align-items-top justify-content-center">
            <h1>Let's make the world green again</h1>
            <div class="col-12 text-center mt-5" style="font-size: 20px;">
                <p>We are a team of four developers who want to contribute as much as possible to making a cleaner world.</p>
                <p>From this point, the idea of "Reciclame" emerged. An application with web support to help and improve the recycling tasks.</p>
            </div>
        </div>
    </div>
    <div style="min-height: 800px; background-position: center; background-size: cover; background-image: url('img/about-us.jpg')"></div>
</body>
<%- include('partials/footer.html') -%>
</html>