<!DOCTYPE html>
<html lang="<%- langClass %>">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= title %></title>
    <%- include('partials/head.html') -%>
    <script src="/js/waterpipe.js"></script>
</head>
<body>
    <%- include('partials/navigation.html') -%>
    <div class="container-fluid pt-5 px-0" style="position: relative;">
        <div id="wavybg-wrapper" style="position: absolute; width: 100%; height: 100% !important; z-index: -1;"> 
            <canvas style="width: 100%; height: 100%; max-height: 900px;"></canvas>
        </div>
        <div class="row text-center text-black align-items-top justify-content-center" style="position: relative; z-index: 1; color: black; text-transform: capitalize;">
            <h1>" Let's make the world green again ! "</h1>
        </div>
        <div class="row justify-content-center align-items-center mt-4 mb-5 py-5">
            <div class="profile-card-2 m-2" data-aos="fade-down" data-aos-duration="500"><img src="img/profile-albert.jpg" class="img img-responsive">
                <div class="profile-name">Albert</div>
                <div class="profile-username">@albeertito7</div>
            </div>
            <div class="profile-card-2 m-2" data-aos="fade-down" data-aos-duration="1000"><img src="img/profile-daniel.jpg" class="img img-responsive">
                <div class="profile-name">Daniel</div>
                <div class="profile-username">@danielb05</div>
            </div>
                <div class="profile-card-2 m-2" data-aos="fade-down" data-aos-duration="1500"><img src="img/profile-francesc.jpg" class="img img-responsive">
                    <div class="profile-name">Francesc</div>
                    <div class="profile-username">@elskater98</div>
                </div>
            <div class="profile-card-2 m-2" data-aos="fade-down" data-aos-duration="2500"><img src="img/profile-ziad-cigar.jpg" class="img img-responsive">
                <div class="profile-name">Ziad</div>
                <div class="profile-username">@ziad-93</div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center px-3 mt-5">
            <div class="col-sm-11 px-md-5 px-4 py-5 lift-up" data-aos="fade-down" data-aos-duration="1000" style="border: 5px solid white; max-width: 850px; background-color: #02b328; color: white; -webkit-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.4); -moz-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.4); box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.4); border-radius: 50px;">
                <h2 style="font-weight: bold;">Who is behind this project?</h2>
                <p style="font-size: 18px;">We are a team of enthusiastic young entrepeneurs who came together to develop an idea origniated in Catalunya, when it was noticed that many of our friends and family did not recycle, just because they did not feel the responsability nor know how to do it.</p>
            </div>
        </div>
        <div style="position: relative; z-index: -10; min-height: 700px; background-position: center; background-size: cover; background-image: url('img/about-us.jpg');"></div>
    </div>
</body>
<%- include('partials/footer.html') -%>
</html>
<script>
    $(document).ready(function () {
        var smokyBG = $('#wavybg-wrapper').waterpipe({
            //Default values
            gradientStart: '#636363',
            gradientEnd: '#696969',
            smokeOpacity: 0.02,
            numCircles: 1,
            maxMaxRad: 'auto',
            minMaxRad: 'auto',
            minRadFactor: 0,
            iterations: 8,
            drawsPerFrame: 10,
            lineWidth: 0.5,
            speed: 0.5,
            bgColorInner: "#ffffff55",
            bgColorOuter: "#ffffff55",
        });
    });
</script>