<!DOCTYPE html>
<html lang="<%- langClass %>">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= title %></title>
	<%- include('partials/head.html') -%>
	<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIbw7wtKNLRWAUtY4EoTD9ySRjvvUpTeg&callback=initMap&libraries=&v=weekly"defer></script>
	<script>
		function initMap() {
        // The location of Uluru
			const uluru = { lat: -25.344, lng: 131.036 };
			// The map, centered at Uluru
			const map = new google.maps.Map(document.getElementById("map"), {
			zoom: 4,
			center: uluru,
			});
			// The marker, positioned at Uluru
			const marker = new google.maps.Marker({
				position: uluru,
				map: map,
			});
      	}
	</script>-->
</head>
<body>
	<%- include('partials/navigation.html') -%>
	<div style="background: url('img/contact-background.svg'); background-size: cover; position: relative; padding-top: 60px; padding-bottom: 150px;">
		<div class="container" data-aos="fade-down" data-aos-duration="800" style="max-width: 900px; position: relative; z-index: 1;">
			<section class="p-md-5 px-3 py-5" style="background-color: white; border-radius: 50px; -webkit-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.4); -moz-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.4); box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.4);">
				<h2 class="h1-responsive font-weight-bold text-center mb-4">We need your feedback</h2>
				<p class="col text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within a matter of hours to help you. We really appreciate your feedback.</p>
				<div class="row justify-content-center align-items-center">
					<div class="col px-0">
						<form id="contact-form" action="/contact" method="post" role="form">
							<div class="row">
								<div class="col-md-6 mb-4">
									<div class="md-form">
										<label for="name">Your name</label>
										<input type="text" id="name" name="name" class="form-control" required>
									</div>
								</div>
								<div class="col-md-6 mb-4">
									<div class="md-form">
										<label for="email">Your email</label>
										<input type="email" id="email" name="email" class="form-control" required>
									</div>
								</div>
							</div>
							<div class="row mb-4">
								<div class="col">
									<div class="md-form">
										<label for="subject">Subject</label>
										<input type="text" id="subject" name="subject" class="form-control" required>
									</div>
								</div>
							</div>
							<div class="row mb-4">
								<div class="col">
									<div class="md-form">
										<label for="message">Your message</label>
										<textarea type="text" id="message" name="message" rows="4" class="form-control md-textarea" required></textarea>
									</div>
		
								</div>
							</div>
							<div class="row mb-4">
								<div class="col">
									<div class="form-check">
										<input type="checkbox" class="form-check-input" id="checkbox" required>
										<label class="form-check-label" for="exampleCheck1">I have read and accept the <a style="color: inherit;" href="/privacy-policy">Privacy Policy</a></label>
									  </div>
								</div>
							</div>
							<div class="text-center">
								<button id="submit-btn" type="Submit" class="btn lift-up px-5 py-3" style="border-radius: 100px; border: 3px solid #01802b; color: white; background-color: #02b328;">Send</button>
							</div>
						</form>
					</div>
				</div>
			</section>
		</div>
		<div class="row text-center justify-content-center align-content-end p-md-5 px-3 pb-4" style="font-size: 30px; color: white; background-color: black; height: 350px; position: absolute; bottom: 0px; width: 100%;">
			Conntect with us via social networks
		</div>
	</div>
	<div id="map" style="margin-bottom: -10px;">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2983.224579201207!2d0.6209982964403975!3d41.60765507328333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a6e072643badf3%3A0xcc39288a1df2a443!2sEscola%20Polit%C3%A8cnica%20Superior%20-%20Universitat%20de%20Lleida!5e0!3m2!1sen!2ses!4v1605890063110!5m2!1sen!2ses" frameborder="0" style="border:0; width: 100%; z-index: -1; height: 500px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	</div>
</body>
<%- include('partials/footer.html') -%>
</html>