<!DOCTYPE html>
<html lang="<%- langClass %>">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= title %></title>
	<%- include('partials/head.html') -%>

</head>
<body>
	<%- include('partials/navigation.html') -%>
	<!--<section>
		<div class="row">
			<%- /*include('partials/carrousel.html')*/ -%>
		</div>
	</section>-->
	<!-- SECTION ONE -->
	<section class="container-fluid pl-0 pr-0" style="padding-bottom: 0px;" id="about">
		<div class="row mt-5 mb-5 text-center align-content-center">
			<div class="col-lg-5 mx-auto lift-up" style="z-index: 1000;">
				<img data-aos="zoom-in-right" data-aos-duration="500" style="width:100%; max-width: 500px; height: auto;" src="/img/reciclame1.jpg"/>
			</div>
			<div class="col-lg-6 mx-auto text-left text-white" data-aos="fade-up-left" data-aos-duration="800" style="max-width: 1000px; height: 50%;margin-top: 100px;">
				<div class="row rotate-panel" style="padding: 100px; background-color: #3ace27; transform: rotate(-6deg);">
					<span style="transform: rotate(6deg);">
						<h2 style="font-weight: bold;">Do you want to make the world<br/>green again?</h2>
						<h4>Improve recycling knowledge and understand wich items go in which bins to improve recycling rates.</h4>
						<p style="color: #a2f19d;">Including feature like: Show the correct bin for each item; Locate recycling containers near you; Read news about recycling, environment, and sustainability; Review your recycling history and rates; and Unlock and share recycling achievements</p>
					</span>
				</div>
			</div>
		</div>
		<!-- Responsive done -->
		<div class="row mb-5 p-5 align-items-center" style="min-height: 400px; background-size: cover; background-image: url('img/img6.jpg')">
			<div class="col">
				<div class="row float-right">
					<div class="row mb-4 justify-content-center" style="font-size: 30px; font-weight: bold; color: white; margin-bottom: 20px;">Comming soon</div>
					<div class="row justify-content-center">
						<div class="pr-4 pb-4 lift-up"><img data-aos="zoom-in-left" src="img/img8.jpg" width="265"/></div>
						<div class="pr-4 pb-4 lift-up"><img data-aos="zoom-in-left" src="img/img9.jpg" width="240" /></div>
					</div>
				</div>
			</div>
		</div>

		<div class="row mb-5 text-center justify-content-center align-items-center">
			<div class="col-lg-6 mx-auto text-left text-white" data-aos="fade-up-left" data-aos-duration="800" style="max-width: 1000px; margin-top: 100px;">
				<div class="row rotate-panel" style="padding: 100px; background-color: #3ace27; transform: rotate(6deg);">
					<span style="transform: rotate(-6deg);">
						<h2 style="font-weight: bold;">Fast, easy and sustainable!!</h2>
						<h4>Recycle correctly, locate the nearest containers, help the environment, and keep informed with the most relevant news about what really matters</h4>
						<p style="color: #a2f19d;">User our appllication for all these purposes and more</p>
					</span>
				</div>
			</div>
			<div class="col-lg-5 mx-auto text-center lift-up" style="z-index: 1000;">
				<img data-aos="zoom-in-right" data-aos-duration="500" style="width:100%; max-width: 500px; height: auto;" src="/img/reciclame2.jpg"/>
			</div>
		</div>

		<!-- Responsive done -->
		<div id="responsive-background-size" class="row py-5 px-3 text-center justify-content-center" style="background-image: url('img/img7.jpg'); background-size: cover;">
			<div class="col-xl col-lg-6 card home p-4 m-3 lift-up justify-content-center align-content-center" data-aos="fade-right" data-aos-duration="800">
				<i class="fa fa-camera-retro fa-4x mb-4" aria-hidden="true"></i>
				<p class="card-text">User your camera to get information, its fast and easy</p>
			</div>
			<div class="col-xl col-lg-6 card home p-4 m-3 lift-up justify-content-center align-content-center" data-aos="fade-right" data-aos-duration="800">
				<i class="fa fa-chart-bar fa-4x mb-4" aria-hidden="true"></i>
				<p class="card-text">Unlock recycling achievements, and review your recycling data</p>
			</div>
			<div class="col-xl col-lg-6 card home p-4 m-3 lift-up justify-content-center align-content-center" data-aos="fade-right" data-aos-duration="800">
				<i class="fas fa-map fa-4x mb-4" aria-hidden="true"></i>
				<p class="card-text">Use our map to locate the nearest containers</p>
			</div>
			<div class="col-xl col-lg-6 card home p-4 m-3 lift-up justify-content-center align-content-center" data-aos="fade-right" data-aos-duration="800">
				<i class="fas fa-globe-americas fa-4x mb-4" aria-hidden="true"></i>
				<p class="card-text">Share with your friends so we all save the the world together</p>
			</div>
		</div>
		
		<!-- Responsive done -->
		<div class="container mb-5 pt-5 pb-5" data-aos="zoom-in" data-aos-duration="500">
			<div class="mb-4" style="font-size: 45px; text-align: center; font-weight: bold; color: black;">Learn more</div>
			<div class="card mb-3" style="width: 100%;">
				<div class="card-header font-weight-bold" style="font-size: 25px;">Do you have any question?</div>
				<div class="card-body row align-items-top flex-md-row flex-column">
					<div class="col-md-9 col-lg-10 pb-4 pb-md-0">
						Contact us for any single question you have, we will be happy to answer you as your feedback helps us improve the user experience and many other things.</div>
					<div class="col-md-3 col-lg-2 text-md-center">
						<button class="btn px-3 py-2 text-white lift-up" style="border-radius: 100px; border: 3px solid #01802b; background-color: #02b328;" onclick="goToContact()">Contact us</button>
					</div>
				</div>
			</div>
			<div class="card mb-3" style="width: 100%;">
				<div class="card-header font-weight-bold" style="font-size: 25px;">Do you want to know more about the project?</div>
				<div class="card-body row align-items-top flex-md-row flex-column">
					<div class="col-md-9 col-lg-10 pb-4 pb-md-0">
						Visit the Reciclame project github repository, to get more information.
					</div>
					<div class="col-md-3 col-lg-2 text-md-center">
						<button class="btn px-3 py-2 text-white lift-up" style="border-radius: 100px; border: 3px solid #01802b; background-color: #02b328;" onclick="window.open('https://github.com/danielb05/reciclame');">Repository</a>
					</div>
				</div>
			</div>
			<div class="card mb-3" style="width: 100%;">
				<div class="card-header font-weight-bold" style="font-size: 25px;">How was this website build?</div>
				<div class="card-body row align-items-top flex-md-row flex-column">
					<div class="col-md-9 col-lg-10 pb-4 pb-md-0">
						Visit the Web Reciclame project github repository, to get more information and know how was done this site.
					</div>
					<div class="col-md-3 col-lg-2 text-md-center">
						<button class="btn px-3 py-2 text-white lift-up" style="border-radius: 100px; border: 3px solid #01802b; background-color: #02b328;" onclick="window.open('https://github.com/albeertito7/ReciclameWeb');">Repository</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<%- include('partials/footer.html') -%>
</body>
</html>