<!DOCTYPE html>
<html lang="<%- langClass %>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile page</title>
  <%- include('partials/head.html') -%>
  <link rel="stylesheet" href="/css/mvp.css" />
  <!--<link rel="stylesheet" href="/kendo/kendo.default.mobile.min.css"></link>-->
  <link rel="stylesheet" href="/kendo/styles/kendo.material.min.css"></link>
  <link rel="stylesheet" href="/kendo/styles/kendo.common-material.min.css"></link>
  <link rel="stylesheet" href="/kendo/styles/kendo.bootstrap.min.css"></link>
  <!--<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>-->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js" integrity="sha512-nOQuvD9nKirvxDdvQ9OMqe2dgapbPB7vYAMrzJihw5m+aNcf0dX53m6YxM4LgA9u8e9eg9QX+/+mPu8kCNpV2A==" crossorigin="anonymous"></script>
  <script src="/kendo/js/kendo.all.min.js"></script>
</head>
<body>
  <%- include('partials/navigation.html') -%>
  <div class="container-fluid my-5 px-5" >
    <section class="mb-4">
      <div class="row">
        <div class="px-3 mb-3" style="text-align: center;">
          <div class="avatar mx-auto white" data-aos="fade-right" data-aos-duration="500"><img style="max-width: 150px !important;  -webkit-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.44); -moz-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.44); box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.44);" src="/img/anonymous.jpg" class="rounded-circle" alt="Sample avatar image."></div>
        </div>
        <div class="col-sm-8" style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center;">
          <div style="font-weight: bold; font-size: 18px;"><%= fullName %><%- (!emailVerified) ? "<i class='fa fa-check ml-2' aria-hidden='true'></i>" : "" -%></div>
          <div style="color: grey;">#<%= uid %></div>
          <hr>
          <div>
            <a class="btn btn-success mr-2" type="button" data-toggle="modal" data-target="#accountDetailsModal">Account details</a>
            <a class="btn btn-danger mr-2" type="button" data-toggle="modal" data-target="#updateCredentialsModal">Update credentials</a>
            <a class="btn btn-primary" href="/editProfile">Edit profile</a>
            <a class="btn btn-primary mr-2" href="/createUser">Create user</a>
            <a class="btn btn-secondary" href="/sessionLogout">Log out</a>
          </div>
        </div>
      </div>
      <hr style="width: 100% !important;">
      <div class="row mb-2">
        <div class="col-sm-6" style="display: flex;">
          <div style="margin-right: 2%;"><span style="font-weight: bold;">Total users: </span> <%= totalUsers %></div>
          <div><span style="font-weight: bold;">Admin users: </span> <%= adminUsers %></div>
        </div>
        <div class="col-sm-6 d-flex justify-content-end">
          <a id="show_stats" class="btn btn-primary mr-2">Show stats</a>
          <a id="show_records" class="btn btn-primary mr-2">Show records</a>
        </div>
      </div>
      <div id="stats" class="row" style="display: none;">
        <div class="col-sm-8">
          <canvas id="myChart" width="400" height="180"></canvas>
        </div>
      </div>
      <div id="records" class="row">
        <div id="wrapper_grid" class="col">
          <div id="grid"></div>
        </div>
      </div>
    </section>
  </div>
</body>
<div class="modal fade" id="accountDetailsModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Account Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label for="aud" class="col-sm-4 col-form-label">App</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="aud" disabled value="<%= aud %>" />
          </div>
        </div>
        <div class="form-group row">
          <label for="uid" class="col-sm-4 col-form-label">User uid</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="uid" disabled value="<%= uid %>" />
          </div>
        </div>
        <div class="form-group row">
          <label for="isAdmin" class="col-sm-4 col-form-label">Role</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="isAdmin" disabled value="<%= (isAdmin) ? 'Administrator' : 'User' %>" />
          </div>
        </div>
        <div class="form-group row">
          <label for="fullnAME" class="col-sm-4 col-form-label">Full name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="fullName" disabled value="<%= fullName %>" />
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-sm-4 col-form-label">Account email</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="email" disabled value="<%= email %>" />
          </div>
        </div>
        <div class="form-group row">
          <label for="emailVerified" class="col-sm-4 col-form-label">Email verified</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="emailVerified" disabled value="<%= (emailVerified) ? 'verified' : 'need verification' %>" />
          </div>
        </div>
        <div class="form-group row">
          <label for="city" class="col-sm-4 col-form-label">City</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="city" disabled value="<%= city %>" />
          </div>
        </div>
        <div class="form-group row">
          <label for="postalCode" class="col-sm-4 col-form-label">Postal code</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="postalCode" disabled value="<%= postalCode %>" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateCredentialsModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Credentials</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="update-credentials-form" style="padding: 0px; box-shadow: none; border: none;">
          <div class="form-group row">
            <label for="email" class="col-sm-5 col-form-label">Email</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="email" value="<%= email %>" required/>
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-sm-5 col-form-label">New Password</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" name="password" value="" />
            </div>
          </div>
          <div class="form-group row">
            <label for="confirmPassword" class="col-sm-5 col-form-label">Confirm password</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" name="confirmPassword" value="" />
            </div>
          </div>
          <button class="btn btn-primary" style="float: right;">Update</a>
        </form>
      </div>
      <div class="modal-footer">
        Once your credentials are updated you will be redirected to the login screen for security reasons
      </div>
    </div>
  </div>
</div>

<script>
  var dataSource;
  $(document).ready(function () {
    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
              url: "/getUsers",
              dataType: "json"
            }
        },
        schema: {
                model: {
                    id: "uid",
                    fields: {
                        email: { type: "string" },
                        emailVerified: { type: "bit" },
                        displayName: { type: "string" },
                        metadata: { defaultValue: {} },
                        creationTime: {
                          type: "date",
                          from: "metadata.creationTime"
                        },
                        lastSignInTime: {
                          type: "date",
                          from: "metadata.lastSignInTime"
                        },
                        lastRefreshTime: {
                          type: "date",
                          from: "metadata.lastRefreshTime"
                        }
                    }
                }
            },
        pageSize: 20,
    });

    function toggleScrollbar(e) {
        let gridWrapper = e.sender.wrapper, gridTable = e.sender.table, gridArea = gridTable.closest(".k-grid-content");
        gridWrapper.toggleClass("no-scrollbar", gridTable[0].offsetHeight < gridArea[0].offsetHeight)
    };

    $("#grid").kendoGrid({
      toolbar: [
            { text: "Export to PDF", className: "k-grid-pdf toolbar-style", id: "pdf" },
            { text: "Export to Excel", className: "k-grid-excel toolbar-style", id: "excel" }
        ],
      excel: {
          fileName: "Reciclame_Export.xlsx",
          allPages: !0
      },
      excelExport: function(e){
          var sheet = e.workbook.sheets[0];
          var data = dataSource.data();
          var gridColumns = $("#grid").data("kendoGrid").columns;
          var columns = gridColumns.map(function(col){
              return {
                  value: col.title ? col.title : col.field,
                  autoWidth: !0,
                  background: "#7a7a7a",
                  color: "#fff"
              };
          });

          var rows = [{cells:columns, type: "header"}];

          for (var i = 0; i < data.length; i++){
              var rowCells = [];
              for(var j=0;j < gridColumns.length;j++){
                  var cellValue = data[i][gridColumns[j].field];
                  rowCells.push({value: cellValue});
              }
              rows.push({cells: rowCells, type: "data"});
          }
          sheet.rows = rows;
      },
      pdf: {
          fileName: "Reciclame_Export.pdf",
          allPages: !0,
          avoidLinks: !0,
          paperSize: "A4",
          margin: { right: "0.4cm", top: "1cm", bottom: "1cm", left: "0.4cm"},
          landscape: !0,
          repeatHeaders: !0,
          template: $("#page-template").html(),
          scale: 0.4,
      },
      dataSource: dataSource,
      sortable: !0,
      height: 550,
      pageable: {
        refresh: !1,
        info: !1,
        pageSizes: [5, 10, 15, 20, "all"],
        messages: {
                empty: "No users",
                itemsPerPage: "Users for page",
                previous: "Previous",
                next: "Next",
                first: "First",
                last: "Last"
            }
      },
      dataBound: function (e) {
        this.autoFitColumn(0);
        this.autoFitColumn(1);
        this.autoFitColumn(2);
        this.autoFitColumn(3);
        this.autoFitColumn(4);
        toggleScrollbar(e);
      },
      columns: [
        {
          field: "uid",
          title: "uid"
        },
        {
          field: "email",
          title: "email"
        },
        {
          field: "emailVerified",
          title: "emailVerified",
          template: "#if(emailVerified) {# <i class='fas fa-check'></i>#} else {#<i class='fas fa-times'></i>#}#"
        },
        {
          field: "metadata.creationTime",
          title: "CreationTime",
          format: "{0:dd/MM/yyyy - HH:mm}",
        },
        {
          field: "metadata.lastSignInTime",
          title: "LastSignInTime",
          format: "{0:dd/MM/yyyy - HH:mm}",
        }
      ]
    });

    dataSource.bind("error", function(e) {
      console.log("Error dataSource /getUsers: " + e);
    });

    let grid = $("#grid");
    grid.find(".k-grid-toolbar").insertAfter($("#grid .k-pager-sizes.k-label"));

    document
      .getElementById("update-credentials-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();

        openLoading("<h4>Updating credentials ...</h4>");

        const email = event.target.email.value,
          password = event.target.password.value,
          confirmPassword = event.target.confirmPassword.value;

          if(password == confirmPassword) {
            fetch("/updateCredentials", {
              method: "POST",
              headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
                "CSRF-Token": Cookies.get("XSRF-TOKEN"),
              },
              body: JSON.stringify({
                  'email': email,
                  'password': CryptoJS.MD5(password),
                  'confirmPassword': CryptoJS.MD5(passwordConfirm)
              }),
            })
            .then(() => {
              successAlert('<h4>User credentials updated successfully</h4>');
              window.location.assign('/profile');
            })
            .catch(error => {
              console.log(error);
              errorAlert('<h4>Something wrong ocurred</h4><h6>' + error.message + '</h6>');
            });
          }
          else {
            console.log("Both passwords must be equals");

          }
    });

    $("#show_stats").click(function () {
      $("#records").hide();
      $("#stats").show();
      var ctx = document.getElementById('myChart');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: ['Total users', 'Users', 'Administrators'],
              datasets: [{
                  labels: ['# of Total users', '# of Users', '# of Administrators'],
                  data: [<%= totalUsers %>, <%= totalUsers - adminUsers %>, <%= adminUsers %>],
                  backgroundColor: [
                      'rgba(2, 179, 40, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)'
                  ],
                  borderColor: [
                      'rgba(2, 179, 40, 1)', // green
                      'rgba(54, 162, 235, 1)', // blue
                      'rgba(255, 206, 86, 1)' // yellow
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              },
              title: {
                display: true,
                text: 'Application users'
              },
              legend: {
                display: false
              }
          }
      });
    });

    $("#show_records").click(function () {
      $("#stats").hide();
      $("#records").show();
    });
  });
</script>
</html>